<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Home Page</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

  <div class="container">
      
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Jenis Kelamin</th>
            <th scope="col" >#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of dataSource; let nomer=index">
            <th scope="row">{{nomer+1}}</th>
            <td>{{n.name}}</td>
            <td>{{n.address}}</td>
            <td>{{n.jenisKelamin}}</td>
            <td align="right">
                <button class="btn btn-primary">EDIT</button>
                <button class="btn btn-danger" style="margin-left: 10px;">HAPUS</button>
            </td>
          </tr>
        </tbody>
      </table>

  </div>